.book-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;

}
.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.search-results .book-card {
  margin: 1rem;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}


.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.search-results .book-card {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
.bookshelf ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.book-search input {
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  margin-bottom: 1rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  height: 150px;
  background-color: #ccc;;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.get-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw ;

  justify-content: space-around;
}

.book-card .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.book-card .book-details h3 {
  font-size: 1.1rem;
  margin: 0;
}

.book-card .book-details p {
  font-size: 0.9rem;
  margin: 0;
}
.button{
width: 150px;
background-color: rgba(0, 128, 0, 0.801);
color: white;
border-radius: 5px;
border: none;
height: 30px;
}
